In [ ]:
class person:
 pass
print(person)

<class '__main__.person'>

In [ ]:
ali=person()
print(ali)

<__main__.person object at 0x7c9ebd92ece0>

In [ ]:
class student:
  def learn(self):
    print("welcome")
student_1=student()
student_1.learn()

welcome

In [ ]:
class student:
  def __init__(self,name):
    self.name=name
  def learn(self):
    print("welcome")
student_1= student('ali')
print(student_1.name)
student_1.learn()

ali
welcome

In [ ]:
class student:
  def __init__(self,name,age,weight,height):
    self.name=name
    self.age=age
    self.height=height
    self.weight=weight
  def info(self):
    print('student name is',student_1.name)
student_1=student('Moiz','21','63kgs','186cm')
student_1.info()

student name is Moiz

In [1]:
class student():
  university="air university"
  def __init__(self, name, age, roll, address,university):
    self.name = name
    self.age = age
    self.roll = roll
    self.address = address
  def info(self):
    print("Name of student is",self.name)
    print("The age of student is",self.age)
    print("Roll number of student is",self.roll)
    print("Address of student is",self.address)
    print("he is the student of",self.university)


student_1 = student("Moiz", 18, 1, "123 Main Street","air")
student_1.info()
student_2 = student("Ali", 22, 5, "124 Main Street","air")
student_2.info()
student_1.roll=200519
Student.university="nust"
student_1.info()
student_2.info()

Name of student is Moiz
The age of student is 18
Roll number of student is 1
Address of student is 123 Main Street
he is the student of air university
Name of student is Ali
The age of student is 22
Roll number of student is 5
Address of student is 124 Main Street
he is the student of air university

NameError: ignored

In [2]:
class Student:
  def __init__(self, name, age, roll, address):
    self.name = name
    self.age = age
    self.roll = roll
    self.address = address
    self.skill=[]
  def info(self):
    print("Name of student",self.name)
    print("The age of student",self.age)
    print("Roll number of student",self.roll)
    print("Address of student",self.address)
  def add_skill(self,skill):
   self.skill.append(skill)



student_1 = Student("Moiz", 18, 1, "123 Main Street")
student_1.add_skill('python')
student_1.add_skill('C++')
print(student_1.skill)
student_1.info()

['python', 'C++']
Name of student Moiz
The age of student 18
Roll number of student 1
Address of student 123 Main Street

In [4]:
class banking:
    def __init__(self, name, account_number, balance):
        self.name = name
        self.account_number = account_number
        self.balance = balance

    def info(self):
        print("Name of student",self.name)
        print("Account number of student",self.account_number)
        print("Balance of student",self.balance)

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        if self.balance < amount:
            print("Insufficient balance.")
        else:
            self.balance -= amount

bank_1 = banking("Moiz",  1234567890, 9500)
bank_1.info()

bank_2 = banking("Ali", 9876543210, 5500)
bank_2.info()
print("latest info")

bank_1.deposit(1000)
bank_1.info()


bank_2.withdraw(3000)
bank_2.info()

Name of student Moiz
Account number of student 1234567890
Balance of student 9500
Name of student Ali
Account number of student 9876543210
Balance of student 5500
latest info
Name of student Moiz
Account number of student 1234567890
Balance of student 10500
Name of student Ali
Account number of student 9876543210
Balance of student 2500

In [5]:
class Employee:
    def __init__(self, name, employee_id):
        self.name = name
        self.employee_id = employee_id

    def display_info(self):
        print(f"Employee: {self.name}, ID: {self.employee_id}")


class Manager:
    def __init__(self, name, employee_id, team=None):
        self.employee = Employee(name, employee_id)
        self.team = team if team is not None else []

    def display_info(self):
        self.employee.display_info()
        print("Manager of the following employees:")
        for member in self.team:
            member.display_info()


class Director:
    def __init__(self, name, employee_id, department, team=None):
        self.employee = Employee(name, employee_id)
        self.department = department
        self.team = team if team is not None else []

    def display_info(self):
        self.employee.display_info()
        print(f"Director of the {self.department} department.")
        print("Team members:")
        for member in self.team:
            member.display_info()
employee1 = Employee("John Doe", 101)
employee2 = Employee("Jane Doe", 102)

manager = Manager("Manager Smith", 201, [employee1, employee2])

director = Director("Director Johnson", 301, "Engineering", [manager])

employee1.display_info()
employee2.display_info()

print("\n")

manager.display_info()

print("\n")

director.display_info()

Employee: John Doe, ID: 101
Employee: Jane Doe, ID: 102


Employee: Manager Smith, ID: 201
Manager of the following employees:
Employee: John Doe, ID: 101
Employee: Jane Doe, ID: 102


Employee: Director Johnson, ID: 301
Director of the Engineering department.
Team members:
Employee: Manager Smith, ID: 201
Manager of the following employees:
Employee: John Doe, ID: 101
Employee: Jane Doe, ID: 102

In [10]:
class Question:
    def __init__(self, text, choices, correct_choice):
        self.text = text
        self.choices = choices
        self.correct_choice = correct_choice

    def display(self):
        print(self.text)
        for i, choice in enumerate(self.choices, start=1):
            print(f"{i}. {choice}")
        print()

    def check_answer(self, player_answer):
        return player_answer.lower() == self.choices[self.correct_choice - 1].lower()


class Quiz:
    def __init__(self, questions):
        self.questions = questions

    def run_quiz(self, player):
        print("Welcome to the Quiz!")
        score = 0

        for question in self.questions:
            question.display()
            player_answer = player.get_answer()

            if question.check_answer(player_answer):
                print("Correct!\n")
                score += 1
            else:
                print("Incorrect.\n")

        print(f"Quiz completed! Your score: {score}/{len(self.questions)}")


class Player:
    def get_answer(self):
        return input("Your answer: ").strip()


# Example Usage:

# Define Questions
questions = [
    Question("What is the capital of France?", ["Berlin", "Paris", "London"], 2),
    Question("Which planet is known as the Red Planet?", ["Venus", "Mars", "Jupiter"], 2),
    Question("What is the largest mammal?", ["Elephant", "Blue Whale", "Giraffe"], 2),
]

# Create Quiz
quiz = Quiz(questions)

# Create Player
player = Player()

# Run Quiz
quiz.run_quiz(player)

Welcome to the Quiz!
What is the capital of France?
1. Berlin
2. Paris
3. London

Your answer: Paris
Correct!

Which planet is known as the Red Planet?
1. Venus
2. Mars
3. Jupiter

Your answer: Mars
Correct!

What is the largest mammal?
1. Elephant
2. Blue Whale
3. Giraffe

Your answer: Elephant
Incorrect.

Quiz completed! Your score: 2/3

In [11]:
class Address:
    def __init__(self, street, city, state, zip_code):
        self.street = street
        self.city = city
        self.state = state
        self.zip_code = zip_code

    def display_address(self):
        return f"{self.street}, {self.city}, {self.state} {self.zip_code}"


class PhoneNumber:
    def __init__(self, number, type):
        self.number = number
        self.type = type

    def display_phone_number(self):
        return f"{self.type}: {self.number}"


class Contact:
    def __init__(self, name, address, phone_numbers):
        self.name = name
        self.address = address
        self.phone_numbers = phone_numbers

    def display_contact_info(self):
        print(f"Name: {self.name}")
        print("Address:", self.address.display_address())
        print("Phone Numbers:")
        for phone_number in self.phone_numbers:
            print(phone_number.display_phone_number())


# Example Usage:

address = Address("123 Main St", "Cityville", "Stateville", "12345")
phone1 = PhoneNumber("555-1234", "Home")
phone2 = PhoneNumber("555-5678", "Work")

contact = Contact("John Doe", address, [phone1, phone2])
contact.display_contact_info()

Name: John Doe
Address: 123 Main St, Cityville, Stateville 12345
Phone Numbers:
Home: 555-1234
Work: 555-5678

In [12]:
class Passenger:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def display_passenger_info(self):
        return f"{self.name}, Age: {self.age}"


class Flight:
    def __init__(self, flight_number, destination, departure_time):
        self.flight_number = flight_number
        self.destination = destination
        self.departure_time = departure_time

    def display_flight_info(self):
        return f"Flight {self.flight_number} to {self.destination}, Departure Time: {self.departure_time}"


class Ticket:
    def __init__(self, passenger, flight, seat_number):
        self.passenger = passenger
        self.flight = flight
        self.seat_number = seat_number

    def display_ticket_info(self):
        print("Ticket Information:")
        print(self.passenger.display_passenger_info())
        print(self.flight.display_flight_info())
        print(f"Seat Number: {self.seat_number}")


# Example Usage:

passenger = Passenger("Alice Smith", 25)
flight = Flight("F123", "New York", "12:00 PM")

ticket = Ticket(passenger, flight, "23A")
ticket.display_ticket_info()

Ticket Information:
Alice Smith, Age: 25
Flight F123 to New York, Departure Time: 12:00 PM
Seat Number: 23A